# Supabase URL
SUPABASE_URL=https://kwjmywrjrymhobewewnw.supabase.co

# Supabase Anon Key
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt3am15d3JqcnltaG9iZXdld253Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxNjc4MjEsImV4cCI6MjEwNTc0MzgyMX0.nHHf5IwbQS9P7C8YACM19sIF19_84dL6h3XtKaMHRYk
# Port chạy backend (mặc định: 3001)
PORT=3001
JWT_SECRET=StudyPlannerSecretKey

# URL frontend (dùng cho CORS)
# Khi deploy, thay bằng URL frontend production
FRONTEND_URL=http://localhost:3000
