# Supabase URL
SUPABASE_URL=https://spsfxewwifieedeoohuq.supabase.co

# Supabase Anon Key
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwc2Z4ZXd3aWZpZWVkZW9vaHVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAwNjQ0NTQsImV4cCI6MjEwNTY0MDQ1NH0._JbEoomXvUnjnSEHCcK20oKtb8mgG-mvABaCNhin74w

# Port chạy backend (mặc định: 3001)
PORT=3001

# URL frontend (dùng cho CORS)
# Khi deploy, thay bằng URL frontend production
FRONTEND_URL=http://localhost:3000
